# The base URL of your Ukulele API. 
# For Android emulator use http://10.0.2.2:8080/api
# For local dev use http://localhost:8080/api
EXPO_PUBLIC_UKULELE_API_URL=http://localhost:8080/api

# Your API Bearer Token
EXPO_PUBLIC_UKULELE_API_TOKEN=your_token_here

# Optional Polling Configuration
EXPO_PUBLIC_POLL_INTERVAL_FAST=2500
EXPO_PUBLIC_POLL_INTERVAL_SLOW=5000
